@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	width: 100vw;
	height: 100vh;
}

body {
	margin: 0;
	background: radial-gradient(
		ellipse at center,
		rgb(0, 0, 0) 0%,
		rgb(255, 255, 255) 70%
	);
	font-family: 'Poppins', sans-serif;
}

.outline-text {
	-webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
}


.hamburger {
	width: 35px;
	height: 30px;
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
}

.hamburger div {
	width: 100%;
	height: 4px;
	background-color: #333;
	border-radius: 10px;
	transition: all 0.3s ease;
}

.hamburger.active div:nth-child(1) {
	transform: translateY(10px) rotate(135deg);
}

.hamburger.active div:nth-child(2) {
	opacity: 0;
}

.hamburger.active div:nth-child(3) {
	transform: translateY(-10px) rotate(-135deg);
}

.menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 280px;
	height: 100%;
	background: linear-gradient(
		270deg,
		rgba(0, 0, 0, 0.8) 0%,
		rgba(36, 36, 36, 1) 100%
	);
	box-shadow: -4px 0px 12px rgba(0, 0, 0, 0.3);
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;
	z-index: 101;
	pointer-events: auto; /* Ensure menu is interactive */
	display: flex;
	flex-direction: column;
	justify-content: center; /* Center the content vertically */
	align-items: center; /* Center the content horizontally */
}

.menu.active {
	transform: translateX(0);
}

.menu-close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 1.5rem;
	color: #ffffff;
	z-index: 102;
}

.menu-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	color: #ffffff;
	width: 100%;
}

.menu-item {
	cursor: pointer;
	font-size: 1.2rem;
	font-weight: 500;
	transition: color 0.3s ease;
	text-align: center; /* Center text within each item */
}

.menu-item:hover {
	color: #e0e0e0;
	text-decoration: none;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {

	.menu {
		width: 60%;
		height: 100%;
	}

	.menu-content {
		padding: 10px;
	}

	.menu-item {
		font-size: 1.3rem;
	}
}
